@charset "ISO-8859-1";

@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
*{
    margin: 0;
    padding: 0;
}
body{
         font-family: 'Exo', sans-serif; 

}
.table-box
{
    margin: 50px auto;
}

.table-row{
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: sans-serif;
    background: transparent;
    padding: 12px 0;
    color: black;
    font-size: 13px;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
}
.table-head{
   /*background: #8665f7; */
   background: black;
    box-shadow: none;
    color: ghostwhite;
    font-weight: 700;
    font-size: larger;
}
.table-head .table-cell{
    border-right: none;
}
.table-cell{
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    border-right: 4px solid black;
    vertical-align: middle;
    font-size: medium;
}
.first-cell{
    text-align: left;
    padding-left: 10px;
}
.last-cell{
    border-right: none;
}
a{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 600px) {
  .table-row {
    font-size: 11px;
  }
}

.navbar {
    width: 100%;
    height: 80px;
    background-color: black;
    overflow: auto;
  }
  
  .navbar a {
    float: right;
    padding: 8px;
    color: ghostwhite;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: rgba(160, 153, 153, 0.952);
  }
  
  .active {
    background-color: #04AA6D;
  }
  .bg-image {
  /* The image used */
 background-image:url(../assets/BW.jpg);
    position:fixed;
    padding:0;
    margin-top: 80px;
    top:0;
    left:0;
    background-size:contain;

    width: 100%;
    height: 100%;
}
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
